---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header class="sticky top-0 flex items-center bg-gray-900 text-xl">
      <div class="pl-16">SomeLogo</div>
      <div class="ml-auto flex gap-8 py-4 pr-16 font-bold">
        <a
          class="underline-offset-2 hover:text-sky-500/60 hover:underline hover:decoration-wavy"
          href="/">Home</a
        >
        <a
          class="underline-offset-2 hover:text-sky-500/60 hover:underline hover:decoration-wavy"
          href="/about/">About</a
        >
        <a
          class="underline-offset-2 hover:text-sky-500/60 hover:underline hover:decoration-wavy"
          href="/blog/">Blog</a
        >
      </div>
    </header>
    <main class="container min-h-screen place-content-center">
      <h1
        class="mb-8 bg-gradient-to-br from-sky-100 via-sky-300 to-sky-600 bg-clip-text text-center font-mono text-8xl font-black text-transparent"
      >
        My Astro Learning Blog
      </h1>
      <p class="paragraph">
        This is where I will post about my journey learning Astro.
      </p>
    </main>
  </body>
</html>
